.tool-bar {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.genre-btn {
  color: rgba(255, 255, 255, 0.87);
  margin: 10px;
  padding: 7px 14px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-btn {
  color: rgba(255, 255, 255, 0.87);
  margin: 10px;
  padding: 7px 14px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.content-rating-btn {
  color: rgba(255, 255, 255, 0.87);
  margin: 10px;
  padding: 7px 14px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.active-toolbar-button.genre-btn {
  color: #000;
  background-color: rgba(255, 255, 255, 0.87);
}
.active-toolbar-button.content-rating-btn {
  color: #000;
  background-color: rgba(255, 255, 255, 0.87);
}

.genre-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.content-rating-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active-toolbar-button.genre-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.active-toolbar-button.content-rating-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
